<% include ../partials/head %>
<h1>Dicimus aliquem hilare vivere;</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bonum incolumis acies: misera caecitas. Ille enim occurrentia nescio quae comminiscebatur; Primum divisit ineleganter; <a href="http://loripsum.net/" target="_blank">Duo Reges: constructio interrete.</a> </p>

<h4>Dic in quovis conventu te omnia facere, ne doleas.</h4>

<p>Haec dicuntur fortasse ieiunius; <mark>Huius, Lyco, oratione locuples, rebus ipsis ielunior.</mark> Ne in odium veniam, si amicum destitero tueri. Hunc vos beatum; <i>Quis istum dolorem timet?</i> </p>

<p>Negat esse eam, inquit, propter se expetendam. <b>Immo alio genere;</b> Quis istud possit, inquit, negare? </p>

<p>Vitae autem degendae ratio maxime quidem illis placuit quieta. Sedulo, inquam, faciam. Sed tamen intellego quid velit. Mihi enim satis est, ipsis non satis. Sed haec omittamus; Non est igitur voluptas bonum. Expectoque quid ad id, quod quaerebam, respondeas. </p>
<img src="/images/5.jpg" alt=""/>
<p><a href="http://loripsum.net/" target="_blank">Sed haec nihil sane ad rem;</a> Quis istud possit, inquit, negare? Invidiosum nomen est, infame, suspectum. Conferam tecum, quam cuique verso rem subicias; Dici enim nihil potest verius. </p>

<p><b>Sit sane ista voluptas.</b> Inde igitur, inquit, ordiendum est. Invidiosum nomen est, infame, suspectum. Est enim effectrix multarum et magnarum voluptatum. <i>Iubet igitur nos Pythius Apollo noscere nosmet ipsos.</i> </p>

<h1>Cur igitur, cum de re conveniat, non malumus usitate loqui?</h1>

<p>Invidiosum nomen est, infame, suspectum. Simus igitur contenti his. Philosophi autem in suis lectulis plerumque moriuntur. </p>

<dl>
	<dt><dfn>Efficiens dici potest.</dfn></dt>
	<dd>Fortasse id optimum, sed ubi illud: Plus semper voluptatis?</dd>
	<dt><dfn>Numquam facies.</dfn></dt>
	<dd>Quod idem cum vestri faciant, non satis magnam tribuunt inventoribus gratiam.</dd>
	<dt><dfn>Proclivi currit oratio.</dfn></dt>
	<dd>Ista ipsa, quae tu breviter: regem, dictatorem, divitem solum esse sapientem, a te quidem apte ac rotunde;</dd>
	<dt><dfn>Qui convenit?</dfn></dt>
	<dd>Itaque sensibus rationem adiunxit et ratione effecta sensus non reliquit.</dd>
	<dt><dfn>Proclivi currit oratio.</dfn></dt>
	<dd>Quod enim testimonium maius quaerimus, quae honesta et recta sint, ipsa esse optabilia per sese, cum videamus tanta officia morientis?</dd>
</dl>


<h2>Cupiditates non Epicuri divisione finiebat, sed sua satietate.</h2>

<p>Haec dicuntur fortasse ieiunius; Quare attende, quaeso. Scio enim esse quosdam, qui quavis lingua philosophari possint; Hoc simile tandem est? Suo genere perveniant ad extremum; Tum ille timide vel potius verecunde: Facio, inquit. </p>

<dl>
	<dt><dfn>Reguli reiciendam;</dfn></dt>
	<dd>In eo autem voluptas omnium Latine loquentium more ponitur, cum percipitur ea, quae sensum aliquem moveat, iucunditas.</dd>
	<dt><dfn>Quid iudicant sensus?</dfn></dt>
	<dd>Quorum sine causa fieri nihil putandum est.</dd>
	<dt><dfn>Idem adhuc;</dfn></dt>
	<dd>Efficiens dici potest.</dd>
	<dt><dfn>Stoicos roga.</dfn></dt>
	<dd>Ea possunt paria non esse.</dd>
</dl>


<p>Aliter homines, aliter philosophos loqui putas oportere? <mark>Virtutis, magnitudinis animi, patientiae, fortitudinis fomentis dolor mitigari solet.</mark> Sed in rebus apertissimis nimium longi sumus. Nihil opus est exemplis hoc facere longius. Tamen a proposito, inquam, aberramus. </p>

<dl>
	<dt><dfn>Etiam beatissimum?</dfn></dt>
	<dd>Claudii libidini, qui tum erat summo ne imperio, dederetur.</dd>
	<dt><dfn>Quare attende, quaeso.</dfn></dt>
	<dd>Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia posuisse contraria.</dd>
	<dt><dfn>Stoicos roga.</dfn></dt>
	<dd>Sed erat aequius Triarium aliquid de dissensione nostra iudicare.</dd>
</dl>


<h3>Et quod est munus, quod opus sapientiae?</h3>

<p><a href="http://loripsum.net/" target="_blank">Cur deinde Metrodori liberos commendas?</a> Rationis enim perfectio est virtus; <b>Proclivi currit oratio.</b> Sed plane dicit quod intellegit. An haec ab eo non dicuntur? Eiuro, inquit adridens, iniquum, hac quidem de re; </p>

<h3>Levatio igitur vitiorum magna fit in iis, qui habent ad virtutem progressionis aliquantum.</h3>

<p>Facillimum id quidem est, inquam. <b>Disserendi artem nullam habuit.</b> <a href="http://loripsum.net/" target="_blank">Nunc omni virtuti vitium contrario nomine opponitur.</a> Quid vero? <a href="http://loripsum.net/" target="_blank">An hoc usque quaque, aliter in vita?</a> <i>Est, ut dicis, inquam.</i> Erat enim Polemonis. </p>

<p><i>Quod equidem non reprehendo;</i> Quibusnam praeteritis? Vide, quantum, inquam, fallare, Torquate. </p>

<h5>Primum in nostrane potestate est, quid meminerimus?</h5>

<p>Summae mihi videtur inscitiae. Tenent mordicus. Vide, quaeso, rectumne sit. Nobis aliter videtur, recte secusne, postea; </p>

<h2>Igitur neque stultorum quisquam beatus neque sapientium non beatus.</h2>

<p>Ita multa dicunt, quae vix intellegam. Sed ego in hoc resisto; Sin aliud quid voles, postea. Sed plane dicit quod intellegit. Tria genera bonorum; <b>Sequitur disserendi ratio cognitioque naturae;</b> </p>

<h6>Fortasse id optimum, sed ubi illud: Plus semper voluptatis?</h6>

<p><a href="http://loripsum.net/" target="_blank">Ac tamen hic mallet non dolere.</a> Ita enim vivunt quidam, ut eorum vita refellatur oratio. Mihi, inquam, qui te id ipsum rogavi? Equidem e Cn. </p>

<h4>Quae quo sunt excelsiores, eo dant clariora indicia naturae.</h4>

<p>Etiam beatissimum? Itaque contra est, ac dicitis; <mark>Nihil ad rem! Ne sit sane;</mark> <a href="http://loripsum.net/" target="_blank">Non semper, inquam;</a> <a href="http://loripsum.net/" target="_blank">Quid est, quod ab ea absolvi et perfici debeat?</a> Quid Zeno? Tum Triarius: Posthac quidem, inquit, audacius. </p>


<% include ../partials/feet %>
