<% include ../partials/head %>

<h1>Idemne potest esse dies saepius, qui semel fuit?</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quo modo? Sed ille, ut dixi, vitiose. <b>Duo Reges: constructio interrete.</b> Rationis enim perfectio est virtus; Quae cum essent dicta, discessimus. Quid sequatur, quid repugnet, vident. </p>

<p>Apparet statim, quae sint officia, quae actiones. Post enim Chrysippum eum non sane est disputatum. Duarum enim vitarum nobis erunt instituta capienda. Quod ea non occurrentia fingunt, vincunt Aristonem; Si id dicis, vicimus. Primum quid tu dicis breve? <a href="http://loripsum.net/" target="_blank">Tamen a proposito, inquam, aberramus.</a> Quonam modo? </p>

<h1>Nunc omni virtuti vitium contrario nomine opponitur.</h1>

<p><i>Refert tamen, quo modo.</i> <i>Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio?</i> Graece donan, Latine voluptatem vocant. Si id dicis, vicimus. Nihil opus est exemplis hoc facere longius. </p>
<img src="/images/4.jpg" alt=""/>
<ul>
	<li>Quod non faceret, si in voluptate summum bonum poneret.</li>
	<li>Sed tamen intellego quid velit.</li>
	<li>Id enim volumus, id contendimus, ut officii fructus sit ipsum officium.</li>
	<li>Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus;</li>
	<li>At iste non dolendi status non vocatur voluptas.</li>
</ul>


<ol>
	<li>Cetera illa adhibebat, quibus demptis negat se Epicurus intellegere quid sit bonum.</li>
	<li>Si sapiens, ne tum quidem miser, cum ab Oroete, praetore Darei, in crucem actus est.</li>
	<li>Qui est in parvis malis.</li>
</ol>


<p>Quod vestri non item. <a href="http://loripsum.net/" target="_blank">Sed ad bona praeterita redeamus.</a> Quid est enim aliud esse versutum? An haec ab eo non dicuntur? Nobis aliter videtur, recte secusne, postea; <a href="http://loripsum.net/" target="_blank">Praeclarae mortes sunt imperatoriae;</a> Haeret in salebra. Iam id ipsum absurdum, maximum malum neglegi. </p>

<ol>
	<li>Luxuriam non reprehendit, modo sit vacua infinita cupiditate et timore.</li>
	<li>Quid adiuvas?</li>
	<li>Sin laboramus, quis est, qui alienae modum statuat industriae?</li>
	<li>Quia dolori non voluptas contraria est, sed doloris privatio.</li>
	<li>Vitae autem degendae ratio maxime quidem illis placuit quieta.</li>
</ol>


<h4>Qualis ista philosophia est, quae non interitum afferat pravitatis, sed sit contenta mediocritate vitiorum?</h4>

<p>Quod quidem iam fit etiam in Academia. Sed ad rem redeamus; Iam enim adesse poterit. Facillimum id quidem est, inquam. Potius inflammat, ut coercendi magis quam dedocendi esse videantur. <i>Quis non odit sordidos, vanos, leves, futtiles?</i> At certe gravius. Estne, quaeso, inquam, sitienti in bibendo voluptas? </p>

<dl>
	<dt><dfn>Restatis igitur vos;</dfn></dt>
	<dd>At tu eadem ista dic in iudicio aut, si coronam times, dic in senatu.</dd>
	<dt><dfn>Eam stabilem appellas.</dfn></dt>
	<dd>Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat.</dd>
	<dt><dfn>Paria sunt igitur.</dfn></dt>
	<dd>Quaesita enim virtus est, non quae relinqueret naturam, sed quae tueretur.</dd>
	<dt><dfn>Ut pulsi recurrant?</dfn></dt>
	<dd>Dicet pro me ipsa virtus nec dubitabit isti vestro beato M.</dd>
	<dt><dfn>Confecta res esset.</dfn></dt>
	<dd>Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam;</dd>
</dl>


<dl>
	<dt><dfn>Age sane, inquam.</dfn></dt>
	<dd>Quid enim mihi potest esse optatius quam cum Catone, omnium virtutum auctore, de virtutibus disputare?</dd>
	<dt><dfn>Idem adhuc;</dfn></dt>
	<dd>Quam nemo umquam voluptatem appellavit, appellat;</dd>
	<dt><dfn>Reguli reiciendam;</dfn></dt>
	<dd>Piso, familiaris noster, et alia multa et hoc loco Stoicos irridebat: Quid enim?</dd>
	<dt><dfn>Quid ergo?</dfn></dt>
	<dd>Qua igitur re ab deo vincitur, si aeternitate non vincitur?</dd>
</dl>


<p>Quorum altera prosunt, nocent altera. Ratio quidem vestra sic cogit. Primum divisit ineleganter; Cur post Tarentum ad Archytam? Certe non potest. </p>

<ul>
	<li>At ego quem huic anteponam non audeo dicere;</li>
	<li>Qui ita affectus, beatum esse numquam probabis;</li>
	<li>Quare attendo te studiose et, quaecumque rebus iis, de quibus hic sermo est, nomina inponis, memoriae mando;</li>
	<li>Mihi, inquam, qui te id ipsum rogavi?</li>
</ul>


<h2>Quare attende, quaeso.</h2>

<p>Nihil ad rem! Ne sit sane; Nihilo magis. <i>Nescio quo modo praetervolavit oratio.</i> Sed videbimus. Nunc agendum est subtilius. <mark>Addidisti ad extremum etiam indoctum fuisse.</mark> </p>

<p><b>Sed quanta sit alias, nunc tantum possitne esse tanta.</b> Ad eos igitur converte te, quaeso. <a href="http://loripsum.net/" target="_blank">Nunc haec primum fortasse audientis servire debemus.</a> Zenonis est, inquam, hoc Stoici. </p>

<h3>Et nunc quidem quod eam tuetur, ut de vite potissimum loquar, est id extrinsecus;</h3>

<p>At multis se probavit. An eiusdem modi? Negare non possum. Maximas vero virtutes iacere omnis necesse est voluptate dominante. Mihi, inquam, qui te id ipsum rogavi? Cui Tubuli nomen odio non est? </p>

<p>Praeclare hoc quidem. Quae cum dixisset paulumque institisset, Quid est? <a href="http://loripsum.net/" target="_blank">Qui ita affectus, beatum esse numquam probabis;</a> </p>

<p>Quae duo sunt, unum facit. Quis est, qui non oderit libidinosam, protervam adolescentiam? Eam stabilem appellas. Huius, Lyco, oratione locuples, rebus ipsis ielunior. Ego vero isti, inquam, permitto. Quid ergo? </p>

<p>Iam contemni non poteris. <b>Nihil illinc huc pervenit.</b> Beatus sibi videtur esse moriens. Immo alio genere; </p>

<p>Sed quid sentiat, non videtis. Quod ea non occurrentia fingunt, vincunt Aristonem; Haec dicuntur inconstantissime. <b>Omnis enim est natura diligens sui.</b> Hoc tu nunc in illo probas. </p>

<p>Nemo igitur esse beatus potest. Tamen a proposito, inquam, aberramus. Id mihi magnum videtur. Est enim effectrix multarum et magnarum voluptatum. Sic enim censent, oportunitatis esse beate vivere. Comprehensum, quod cognitum non habet? <b>Utrum igitur tibi litteram videor an totas paginas commovere?</b> </p>

<ol>
	<li>Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur.</li>
	<li>Si mala non sunt, iacet omnis ratio Peripateticorum.</li>
	<li>Non pugnem cum homine, cur tantum habeat in natura boni;</li>
	<li>Quaesita enim virtus est, non quae relinqueret naturam, sed quae tueretur.</li>
</ol>


<h5>Negat enim summo bono afferre incrementum diem.</h5>

<p>Venit ad extremum; <a href="http://loripsum.net/" target="_blank">Illa tamen simplicia, vestra versuta.</a> Quaerimus enim finem bonorum. Cur, nisi quod turpis oratio est? </p>

<ul>
	<li>Omnia contraria, quos etiam insanos esse vultis.</li>
	<li>Illa enim, quae prosunt aut quae nocent, aut bona sunt aut mala, quae sint paria necesse est.</li>
	<li>Haec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat.</li>
</ul>


<p>Cui Tubuli nomen odio non est? <a href="http://loripsum.net/" target="_blank">Suam denique cuique naturam esse ad vivendum ducem.</a> Nihilo beatiorem esse Metellum quam Regulum. Quae similitudo in genere etiam humano apparet. </p>

<h6>Si quae forte-possumus.</h6>

<p>Efficiens dici potest. Atqui reperies, inquit, in hoc quidem pertinacem; Minime vero, inquit ille, consentit. Quid iudicant sensus? <a href="http://loripsum.net/" target="_blank">Equidem e Cn.</a> Tum Quintus: Est plane, Piso, ut dicis, inquit. </p>

<p>Nunc de hominis summo bono quaeritur; Ille enim occurrentia nescio quae comminiscebatur; <mark>Nihilo magis.</mark> Ita multa dicunt, quae vix intellegam. </p>

<p>Istam voluptatem perpetuam quis potest praestare sapienti? <a href="http://loripsum.net/" target="_blank">Dat enim intervalla et relaxat.</a> Itaque contra est, ac dicitis; Velut ego nunc moveor. Omnes enim iucundum motum, quo sensus hilaretur. In schola desinis. </p>

<p>Hoc non est positum in nostra actione. <i>Haec quo modo conveniant, non sane intellego.</i> <mark>Prioris generis est docilitas, memoria;</mark> Quorum sine causa fieri nihil putandum est. Sed quid sentiat, non videtis. </p>

<dl>
	<dt><dfn>Eam stabilem appellas.</dfn></dt>
	<dd>Aberat omnis dolor, qui si adesset, nec molliter ferret et tamen medicis plus quam philosophis uteretur.</dd>
	<dt><dfn>Age sane, inquam.</dfn></dt>
	<dd>Etenim si delectamur, cum scribimus, quis est tam invidus, qui ab eo nos abducat?</dd>
	<dt><dfn>Tu quidem reddes;</dfn></dt>
	<dd>In his igitur partibus duabus nihil erat, quod Zeno commutare gestiret.</dd>
</dl>



<% include ../partials/feet %>
