<% include ../partials/head %>
<h1>Estne, quaeso, inquam, sitienti in bibendo voluptas?</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et quidem iure fortasse, sed tamen non gravissimum est testimonium multitudinis. Videmus igitur ut conquiescere ne infantes quidem possint. <code>Sed haec nihil sane ad rem;</code> Duo Reges: constructio interrete. </p>

<ul>
	<li>Minime vero istorum quidem, inquit.</li>
	<li>Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit?</li>
	<li>Legimus tamen Diogenem, Antipatrum, Mnesarchum, Panaetium, multos alios in primisque familiarem nostrum Posidonium.</li>
	<li>Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant.</li>
	<li>Nam adhuc, meo fortasse vitio, quid ego quaeram non perspicis.</li>
	<li>Certe nihil nisi quod possit ipsum propter se iure laudari.</li>
</ul>

<img src="/images/1.jpg" alt="">

<pre>Atque haec contra Aristippum, qui eam voluptatem non modo
summam, sed solam etiam ducit, quam omnes unam appellamus
voluptatem.

Ita fit cum gravior, tum etiam splendidior oratio.
</pre>


<ol>
	<li>Idemne potest esse dies saepius, qui semel fuit?</li>
	<li>Piso igitur hoc modo, vir optimus tuique, ut scis, amantissimus.</li>
	<li>Pauca mutat vel plura sane;</li>
	<li>Saepe ab Aristotele, a Theophrasto mirabiliter est laudata per se ipsa rerum scientia;</li>
</ol>


<blockquote cite="http://loripsum.net">
	Quia, cum a Zenone, inquam, hoc magnifice tamquam ex oraculo editur: Virtus ad beate vivendum se ipsa contenta est, et Quare?
</blockquote>


<h2>Haec para/doca illi, nos admirabilia dicamus.</h2>

<p>Ut id aliis narrare gestiant? Unum est sine dolore esse, alterum cum voluptate. Animum autem reliquis rebus ita perfecit, ut corpus; Non dolere, inquam, istud quam vim habeat postea videro; Quid ergo aliud intellegetur nisi uti ne quae pars naturae neglegatur? Ut placet, inquit, etsi enim illud erat aptius, aequum cuique concedere. Rhetorice igitur, inquam, nos mavis quam dialectice disputare? Quid est igitur, inquit, quod requiras? Sequitur disserendi ratio cognitioque naturae; Mihi, inquam, qui te id ipsum rogavi? </p>

<h3>Tum ille timide vel potius verecunde: Facio, inquit.</h3>

<p>Quo modo? Hoc loco tenere se Triarius non potuit. Qua ex cognitione facilior facta est investigatio rerum occultissimarum. Restatis igitur vos; Sin te auctoritas commovebat, nobisne omnibus et Platoni ipsi nescio quem illum anteponebas? Non modo carum sibi quemque, verum etiam vehementer carum esse? <a href="http://loripsum.net/" target="_blank">Neque solum ea communia, verum etiam paria esse dixerunt.</a> Hanc quoque iucunditatem, si vis, transfer in animum; </p>

<dl>
	<dt><dfn>Etiam beatissimum?</dfn></dt>
	<dd>Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster?</dd>
	<dt><dfn>Quid enim?</dfn></dt>
	<dd>Quia nec honesto quic quam honestius nec turpi turpius.</dd>
	<dt><dfn>Scrupulum, inquam, abeunti;</dfn></dt>
	<dd>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</dd>
	<dt><dfn>Peccata paria.</dfn></dt>
	<dd>Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus exordium.</dd>
	<dt><dfn>Falli igitur possumus.</dfn></dt>
	<dd>Et quod est munus, quod opus sapientiae?</dd>
</dl>
<% include ../partials/feet %>
